# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# npm
node_modules/

# This is a custom directory containing compiled TypeScript
# and Sass, which is subsequentially used by Jekyll.
#
# We do this because we want control over the build process.
_intermediate/

# IntelliJ
!.idea/
.idea/*
!.idea/copyright
!.idea/scopes
!.idea/codeStyles