<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/assets/favicon.png" />
        <link rel="stylesheet" href="/assets/css/style.css" />
        <link rel="stylesheet" href="/assets/css/navbar.css" />
        <link rel="stylesheet" href="/assets/css/hamburger.css" />

        <!-- Sorry, but I do not have time to self-host these fonts. -->
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
        />
        <link
            rel="preconnect"
            href="https://fonts.googleapis.com"
        />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Passero+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
            rel="stylesheet"
        />

        {% if page.title %}
            <title>{{ site.title }} - {{ page.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %} 
    </head>
    <body>
        <nav class="navbar">
            <a href="/" class="brand">{{ site.brand }}</a>

            <div class="items">
                <div class="links">
                    {% for html_page in site.html_pages %}
                        {% if html_page.pinned %}
                            <a href="{{ html_page.url }}">{{ html_page.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            
                <div class="mobile-fallback">
                    <a class="hamburger" id="hamburger">
                        <span class="material-symbols-outlined">
                            menu
                        </span>
                    </a>
                </div>
            </div>
        </nav>

        <div class="hamburger-overlay" id="overlay" style="display: none;">
            <h2>Menu</h2>
            {% include table-of-contents.html %}
        </div>

        <main id="main">
            {{ content }}
        </main>

        <script type="module" src="/assets/js/index.js"></script>
    </body>
</html>